<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>


	<listener class-name = "Academy.listenrs"/>
	<listener class-name ="resources.ExtentReporterNG"/> 

</listeners>
	<test name="HomePage">
		<classes>
			<class name="Academy.Homepage" />
		</classes>
	</test>

	<test name="ValidateTitle">
		<classes>
			<class name="Academy.ValidateTitle" />
		</classes>
	</test>
	<test name ="validateNavbar">
		<classes>
			<class name="Academy.validateNavbar" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
